/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --yt-dark: #000;
}

body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}